# revenue-forecast

Use the "Run" button to execute the code.

In [19]:
print('Hello World')

Hello World

In [70]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt1

In [21]:
df_revenue= pd.read_csv('p21_bi_intern_test_revenues.csv')
df_revenue

                             appointment_id  revenues
0      68339e8c-c708-4042-ba21-263838e0487b       NaN
1      270bd629-028b-45b2-86a1-af8de97a7fd0     54.17
2      85c0b7cf-6e50-4683-88c4-9d6ea30f6500     20.67
3      4333637e-b13a-41b8-a0b6-d43ce4c7c761     35.69
4      e526a6ac-eaf4-47bd-bead-1332fe3444e4    150.77
...                                     ...       ...
11010  12d72aec-806b-4b47-a775-9fb0a8fb3f9f    263.44
11011  e24afe93-a5af-4256-b8c8-6c8e68c500ae     76.90
11012  651fba9c-5571-4cd5-bc0e-89a06a2c49f6     76.90
11013  c251c42b-2c61-4fb3-92f0-37e97c90d556     76.90
11014  6b4d53b6-50c2-4fa2-920d-4812ec4f7855     76.90

[11015 rows x 2 columns]

In [22]:
df_appointment= pd.read_csv('p21_bi_intern_test_appointments.csv')
df_appointment

,appointment_id,practitioner_id,patient_id,clinic_id,appointment_date
0,0004df0d-3df6-42be-9d68-b646a42a44bb,c7402157-ae44-45cc-b6a7-b348d5dbd417,158184,2,2022-12-22
1,000a978e-f134-47b3-ab9e-4f56084be38e,3ca4793d-065e-4112-b023-d1122a2a4b44,112887,2,2022-06-02
2,000c1615-0980-4933-9ad1-6f34bb5e188e,c7402157-ae44-45cc-b6a7-b348d5dbd417,141451,2,2022-10-18
3,000d8c91-e6a8-4404-bf8b-4951ed8ca1f2,2ea0ca2a-77fc-4447-b57c-62a6cb4d75a1,37516,1,2022-01-06
4,0015acc2-484c-491a-b455-0963835a31dd,ed1a5b13-3dc5-4212-b989-f59258b4410e,141833,2,2022-10-14
...,...,...,...,...,...
11010,ffe5ef65-a922-416e-ab3f-edd7155fc9c8,c7402157-ae44-45cc-b6a7-b348d5dbd417,121442,2,2022-08-10
11011,ffe61232-0eb1-478e-a95d-238f2e424c5e,3ca4793d-065e-4112-b023-d1122a2a4b44,115034,2,2022-05-19
11012,ffec22fc-a246-4432-9b9c-448ba57044a8,2ea0ca2a-77fc-4447-b57c-62a6cb4d75a1,23279,1,2022-07-11
11013,ffef4a4a-a15b-4820-8b50-861f1c26c666,c7402157-ae44-45cc-b6a7-b348d5dbd417,70565,2,2022-02-09
11014,fffdf724-6808-469e-910a-45629b63f613,c7402157-ae44-45cc-b6a7-b348d5dbd417,67361,2,2022-02-01

In [23]:
df=df_appointment.merge(df_revenue, on='appointment_id')
df

,appointment_id,practitioner_id,patient_id,clinic_id,appointment_date,revenues
0,0004df0d-3df6-42be-9d68-b646a42a44bb,c7402157-ae44-45cc-b6a7-b348d5dbd417,158184,2,2022-12-22,299.17
1,000a978e-f134-47b3-ab9e-4f56084be38e,3ca4793d-065e-4112-b023-d1122a2a4b44,112887,2,2022-06-02,124.51
2,000c1615-0980-4933-9ad1-6f34bb5e188e,c7402157-ae44-45cc-b6a7-b348d5dbd417,141451,2,2022-10-18,85.31
3,000d8c91-e6a8-4404-bf8b-4951ed8ca1f2,2ea0ca2a-77fc-4447-b57c-62a6cb4d75a1,37516,1,2022-01-06,116.40
4,0015acc2-484c-491a-b455-0963835a31dd,ed1a5b13-3dc5-4212-b989-f59258b4410e,141833,2,2022-10-14,299.70
...,...,...,...,...,...,...
11010,ffe5ef65-a922-416e-ab3f-edd7155fc9c8,c7402157-ae44-45cc-b6a7-b348d5dbd417,121442,2,2022-08-10,336.45
11011,ffe61232-0eb1-478e-a95d-238f2e424c5e,3ca4793d-065e-4112-b023-d1122a2a4b44,115034,2,2022-05-19,55.85
11012,ffec22fc-a246-4432-9b9c-448ba57044a8,2ea0ca2a-77fc-4447-b57c-62a6cb4d75a1,23279,1,2022-07-11,143.60
11013,ffef4a4a-a15b-4820-8b50-861f1c26c666,c7402157-ae44-45cc-b6a7-b348d5dbd417,70565,2,2022-02-09,129.42
11014,fffdf724-6808-469e-910a-45629b63f613,c7402157-ae44-45cc-b6a7-b348d5dbd417,67361,2,2022-02-01,42.29

In [24]:
df=df.sort_values('appointment_date')

In [25]:
df

,appointment_id,practitioner_id,patient_id,clinic_id,appointment_date,revenues
3322,4bf4b2c0-6735-459f-a931-29474d0b1e5e,098431c3-1301-456e-9171-0026d20a3d62,22546,1,2022-01-01,20.68
4223,610b31be-8063-4a41-97d2-6cfe487d7640,098431c3-1301-456e-9171-0026d20a3d62,28430,1,2022-01-01,24.11
2120,2f9dd690-d894-4ffb-8bcb-ee7157568989,098431c3-1301-456e-9171-0026d20a3d62,29160,1,2022-01-01,140.10
2951,4333637e-b13a-41b8-a0b6-d43ce4c7c761,098431c3-1301-456e-9171-0026d20a3d62,18111,1,2022-01-01,35.69
10557,f4e6b8d5-c7ff-4241-a3e1-4c384b063fe4,098431c3-1301-456e-9171-0026d20a3d62,36951,1,2022-01-01,52.83
...,...,...,...,...,...,...
10197,ec57c865-4038-438c-947d-2b54265c2010,2ea0ca2a-77fc-4447-b57c-62a6cb4d75a1,89593,1,2022-12-31,466.06
9876,e48bd3e1-3a23-42ad-aec0-9f9cdc1568a5,45baf1d2-e066-4f40-8fc5-c61c08d4af4c,91816,1,2022-12-31,82.44
2050,2e76599d-7675-4cd2-a082-c23fa56eacbd,45baf1d2-e066-4f40-8fc5-c61c08d4af4c,89370,1,2022-12-31,244.95
8289,bfd2d7ff-34f6-4f66-b464-6dea6a4ccffc,45baf1d2-e066-4f40-8fc5-c61c08d4af4c,91833,1,2022-12-31,75.37
4368,64752c43-3b4b-478a-92c3-31f6e118813c,098431c3-1301-456e-9171-0026d20a3d62,24008,1,2022-12-31,21.20

In [26]:
df.isnull().sum()

appointment_id        0
practitioner_id       0
patient_id            0
clinic_id             0
appointment_date      0
revenues            113
dtype: int64

In [27]:
df.dropna(inplace=True)

In [28]:
df.isnull().sum()

appointment_id      0
practitioner_id     0
patient_id          0
clinic_id           0
appointment_date    0
revenues            0
dtype: int64

In [29]:
weights = [0.4, 0.3, 0.2]
total_weight = sum(weights)
normalized_weights = [w / total_weight for w in weights]

In [30]:
df["WeightedMovingAvg"] = df['revenues'].rolling(window=len(normalized_weights)).apply(lambda x: (x * normalized_weights).sum())

In [31]:
df

,appointment_id,practitioner_id,patient_id,clinic_id,appointment_date,revenues,WeightedMovingAvg
3322,4bf4b2c0-6735-459f-a931-29474d0b1e5e,098431c3-1301-456e-9171-0026d20a3d62,22546,1,2022-01-01,20.68,NaN
4223,610b31be-8063-4a41-97d2-6cfe487d7640,098431c3-1301-456e-9171-0026d20a3d62,28430,1,2022-01-01,24.11,NaN
2120,2f9dd690-d894-4ffb-8bcb-ee7157568989,098431c3-1301-456e-9171-0026d20a3d62,29160,1,2022-01-01,140.10,48.361111
2951,4333637e-b13a-41b8-a0b6-d43ce4c7c761,098431c3-1301-456e-9171-0026d20a3d62,18111,1,2022-01-01,35.69,65.346667
10557,f4e6b8d5-c7ff-4241-a3e1-4c384b063fe4,098431c3-1301-456e-9171-0026d20a3d62,36951,1,2022-01-01,52.83,85.903333
...,...,...,...,...,...,...,...
10197,ec57c865-4038-438c-947d-2b54265c2010,2ea0ca2a-77fc-4447-b57c-62a6cb4d75a1,89593,1,2022-12-31,466.06,118.487778
9876,e48bd3e1-3a23-42ad-aec0-9f9cdc1568a5,45baf1d2-e066-4f40-8fc5-c61c08d4af4c,91816,1,2022-12-31,82.44,181.002222
2050,2e76599d-7675-4cd2-a082-c23fa56eacbd,45baf1d2-e066-4f40-8fc5-c61c08d4af4c,89370,1,2022-12-31,244.95,289.051111
8289,bfd2d7ff-34f6-4f66-b464-6dea6a4ccffc,45baf1d2-e066-4f40-8fc5-c61c08d4af4c,91833,1,2022-12-31,75.37,135.038889
4368,64752c43-3b4b-478a-92c3-31f6e118813c,098431c3-1301-456e-9171-0026d20a3d62,24008,1,2022-12-31,21.20,138.701111

In [32]:
df.dropna(inplace=True)

In [33]:
df.isnull().sum()

appointment_id       0
practitioner_id      0
patient_id           0
clinic_id            0
appointment_date     0
revenues             0
WeightedMovingAvg    0
dtype: int64

In [34]:
X = df["appointment_date"].values.reshape(-1, 1)
y = df["WeightedMovingAvg"]

In [35]:
df['appointment_date']=pd.to_datetime(df['appointment_date'])

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10900 entries, 2120 to 4368
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   appointment_id     10900 non-null  object
 1   practitioner_id    10900 non-null  object
 2   patient_id         10900 non-null  int64
 3   clinic_id          10900 non-null  int64
 4   appointment_date   10900 non-null  datetime64[ns]
 5   revenues           10900 non-null  float64
 6   WeightedMovingAvg  10900 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 681.2+ KB

In [52]:
df['appointmet_month'] = df['appointment_date'].dt.month

In [53]:
df

,appointment_id,practitioner_id,patient_id,clinic_id,appointment_date,revenues,WeightedMovingAvg,appointmet_month
2120,2f9dd690-d894-4ffb-8bcb-ee7157568989,098431c3-1301-456e-9171-0026d20a3d62,29160,1,2022-01-01,140.10,48.361111,1
2951,4333637e-b13a-41b8-a0b6-d43ce4c7c761,098431c3-1301-456e-9171-0026d20a3d62,18111,1,2022-01-01,35.69,65.346667,1
10557,f4e6b8d5-c7ff-4241-a3e1-4c384b063fe4,098431c3-1301-456e-9171-0026d20a3d62,36951,1,2022-01-01,52.83,85.903333,1
6271,8fefe3da-628e-4678-adad-071627ea17be,098431c3-1301-456e-9171-0026d20a3d62,18145,1,2022-01-01,45.94,43.681111,1
7384,a9983b03-a5de-40b1-98d3-629e322dac9b,2ea0ca2a-77fc-4447-b57c-62a6cb4d75a1,36768,1,2022-01-01,52.82,50.531111,1
...,...,...,...,...,...,...,...,...
10197,ec57c865-4038-438c-947d-2b54265c2010,2ea0ca2a-77fc-4447-b57c-62a6cb4d75a1,89593,1,2022-12-31,466.06,118.487778,12
9876,e48bd3e1-3a23-42ad-aec0-9f9cdc1568a5,45baf1d2-e066-4f40-8fc5-c61c08d4af4c,91816,1,2022-12-31,82.44,181.002222,12
2050,2e76599d-7675-4cd2-a082-c23fa56eacbd,45baf1d2-e066-4f40-8fc5-c61c08d4af4c,89370,1,2022-12-31,244.95,289.051111,12
8289,bfd2d7ff-34f6-4f66-b464-6dea6a4ccffc,45baf1d2-e066-4f40-8fc5-c61c08d4af4c,91833,1,2022-12-31,75.37,135.038889,12
4368,64752c43-3b4b-478a-92c3-31f6e118813c,098431c3-1301-456e-9171-0026d20a3d62,24008,1,2022-12-31,21.20,138.701111,12

In [54]:
df_1=df.groupby('appointmet_month',as_index=False)['revenues'].sum()

In [ ]:
df_1

In [ ]:
df_1.columns

In [55]:
df_1["WeightedMovingAvg"] = df_1['revenues'].rolling(window=len(normalized_weights)).apply(lambda x: (x * normalized_weights).sum())

In [56]:
print(df_1)

    appointmet_month    revenues  WeightedMovingAvg
0                  1   98104.990                NaN
1                  2  125227.635                NaN
2                  3  151705.875      119057.179444
3                  4  146936.540      138877.916111
4                  5  144192.080      148446.364444
5                  6  160837.670      149110.860000
6                  7  181325.570      157992.496667
7                  8  137464.565      162472.946667
8                  9  184714.875      167458.413889
9                 10  181327.730      162962.038333
10                11  193002.820      185427.592222
11                12  199388.970      189233.035556

In [57]:
df_1.dropna(inplace=True)

In [58]:
df_1

    appointmet_month    revenues  WeightedMovingAvg
2                  3  151705.875      119057.179444
3                  4  146936.540      138877.916111
4                  5  144192.080      148446.364444
5                  6  160837.670      149110.860000
6                  7  181325.570      157992.496667
7                  8  137464.565      162472.946667
8                  9  184714.875      167458.413889
9                 10  181327.730      162962.038333
10                11  193002.820      185427.592222
11                12  199388.970      189233.035556

In [59]:
X=df_1['appointmet_month'].values.reshape(-1, 1)
y=df_1['WeightedMovingAvg']

In [60]:
model = LinearRegression()
model.fit(X, y)

LinearRegression()

In [61]:
start_date = 4   # Starting date for the forecast
end_date = 12     # Ending date for the forecast
forecast_dates = range(start_date, end_date+1)
forecast_X = pd.DataFrame(forecast_dates, columns=["appointmet_month"])
forecast_y = model.predict(forecast_X)

C:\Users\Srilatha\anaconda3\Lib\site-packages\sklearn\base.py:457: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

In [62]:
forecast_df = pd.DataFrame({"month": forecast_dates, "ForecastedRevenue": forecast_y})
print(forecast_df)

   month  ForecastedRevenue
0      4      134992.601205
1      5      141595.824956
2      6      148199.048707
3      7      154802.272458
4      8      161405.496209
5      9      168008.719960
6     10      174611.943710
7     11      181215.167461
8     12      187818.391212

In [63]:
a=forecast_df

In [64]:
df_rev= pd.DataFrame(a)

In [65]:
df_rev

   month  ForecastedRevenue
0      4      134992.601205
1      5      141595.824956
2      6      148199.048707
3      7      154802.272458
4      8      161405.496209
5      9      168008.719960
6     10      174611.943710
7     11      181215.167461
8     12      187818.391212